<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link href="/css/animewatching.css" rel="stylesheet" type="text/css">
    <link href="/css/animedetail.css" rel="stylesheet" type="text/css">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container mainSection">
        <nav class="menuHome">
            <i class="fa fa-home" style="color: #e53637;"></i>
            <a href="/">Home</a>
            <span> > </span>
            <a href="#">Anime</a>
            <span> > </span>
            <p style="display: inline; color:#b7b7b7;"><%= animeData.name %></p>
        </nav>
        <div class="videoCenter" style="margin: 45px 0;">
            <video width="100%" controls>
                <source src=<%= videoUrl %> type="video/mp4">
            </video>
            <div style="margin-top: 30px;">
                <h5 style="margin-bottom: 15px; margin-top: 25px;">LIST NAME</h5>
                <% for (var i=1; i <= animeData.Episode.split("/")[0]; i++) {%>
                    <a href="/anime/<%= animeData.name %>/watching/0<%= i %>">Ep <%= i %></a>
                <% } %>
            
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="review">
                    <h5 style="margin-bottom: 20px;">REVIEWS</h5>
                    <div>
                        <% animeData.comment.forEach(function(item,index) { %>
                            <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                            <div>
                                <h6><%= item.username %> --  <span><%= item.time %></span></h6>
                                <p><%= item.title %></p>
                            </div>
                        <% }) %>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>
</body>
</html>