<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link href="/css/animedetail.css" rel="stylesheet" type="text/css">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <div class="container">
            <nav class="menuHome">
                <i class="fa fa-home" style="color: #e53637;"></i>
                <a href="#">Home</a>
                <span> > </span>
                <a href="#">Categories</a>
                <span> > </span>
                <p style="display: inline; color:#b7b7b7;">Romance</p>
            </nav>
        
            <div class="info row" style="margin-bottom: 40px;">
                <div class="col-lg-3 info__img">
                    <img src=<%= animeData.Image %> alt="Image">
                </div>
                <div class="col-lg-9">
                    <div class="titleContent row">
                        <div class="col-lg-9 col-md-9">
                            <h2><%= animeData.name %></h2>
                            <p>フェイト／ステイナイト, Feito／sutei naito</p>
                        </div>
                        <div class="rating col-lg-3 col-md-3">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <h5><%= animeData.Rating %></h5>
                        </div>
                    </div>
                    <div>
                        <p><%= animeData.subname %></p>
                        <div class="row container explainCenter">
                            <div class="row col-lg-6 col-md-6 beforeList">
                                <ul class="explain">
                                    <li >Type: <span><%= animeData.type %></span></li>
                                    <li>Studios: <span><%= animeData.Studios %></span></li>
                                    <li>Date aired: <span><%= animeData.DateAired %></span></li>
                                    <li>Status: <span><%= animeData.Status %></span></li>
                                    <li>Genre: <span><%= animeData.Genre %></span></li>
                                </ul>
                                
                            </div>
                            <div class="row col-lg-6 col-md-6">
                                <ul class="explain">
                                    <li>Scores: <span><%= animeData.Scores %></span></li>
                                    <li>Rating: <span><%= animeData.Rating %></span></li>
                                    <li>Duration: <span><%= animeData.Duration %></span></li>
                                    <li>Quality: <span><%= animeData.Quality %></span></li>
                                    <li>Views: <span><%= animeData.Views %></span></li>
                                </ul>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="chooseButton">
                        <button style="border-radius: 5%;"><i class="fa fa-heart"></i>&nbsp;FOLLOW</button>
                        <a href="/anime/<%= animeData.name %>/watching" style="border-radius: 5% 0 0 5%; margin-left: 10px;">WATCH NOW</a>
                        <button style="border-radius: 0 5% 5% 0;"><i class="fa fa-angle-right"></i></button>
        
                    </div>
                    
        
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="review">
                        <h5 style="margin-bottom: 20px;">REVIEWS</h5>  
                        <div>
                            <% animeData.comment.forEach(function(item,index) { %>
                                <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                                <div>
                                    <h6><%= item.username %> --  <span><%= item.time %></span></h6>
                                    <p><%= item.title %></p>
                                </div>
                            <% }) %>  
                        </div>
                    </div>
                    <div class="comment" style="margin-top: 80px;">
                        <h5>YOUR COMMENT</h5>
                        <textarea id="userComment" placeholder="Your Comment"></textarea>
                        <button id="submitComment"><i class="fa fa-location-arrow"></i>SUBMIT</button>
                    </div>
                </div>
                <div class="topViews col-lg-4 col-md-4">
                    <h5 class="row col-lg-12" style="margin-bottom: 20px;">YOU MIGHT LIKE...</h5>
                    <div class="col-lg-12 topViews__item">
                        <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606483849/oryfft0dyuy6cc2umfm7.jpg" alt="image">    
                        <a href="#">Boruto: Naruto next generations</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
        const form = document.getElementById("register");
        document.getElementById("submitComment").addEventListener('click', () =>{
            $.ajax({
                url: '/api/anime/' + window.location.href.split("/")[window.location.href.split("/").length - 1] + "/comment/add",
                headers :{
                    'Authorization' : window.localStorage.getItem("authorization"),
                },
                data: JSON.stringify({title: document.getElementById('userComment').value,  
                type: "film"}),
                processData: false,
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                },
                error: function(err) {
                    if (err.responseJSON.message == "Token is not available"){
                        alert("You have to login to use this feature")
                    }
                }

            });
        })
    </script>
</body>

</html>