<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime</title>
    <link href="/css/animewatching.css" rel="stylesheet" type="text/css">
    <link href="/css/animedetail.css" rel="stylesheet" type="text/css">
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container mainSection">
        <nav class="menuHome">
            <i class="fa fa-home" style="color: #e53637;"></i>
            <a href="/">Home</a>
            <span> > </span>
            <a href="#">Anime</a>
            <span> > </span>
            <p style="display: inline; color:#b7b7b7;"><%= animeData.name %></p>
        </nav>
        <div class="videoCenter" style="margin: 45px 0;">
            <video id="myVideo" width="100%" controls>
                <source src=<%= videoUrl %> type="video/mp4">
                <track kind="subtitles" src="subtitles_en.vtt" srclang="en">
            </video>
            <div class="videoHandle row">
                <div class="speed">
                    <label for="playback"></label>
                    <select name="playback" id="playback">
                        <option value="0.25">0.25x</option>
                        <option value="0.5">0.5x</option>
                        <option value="1">1x</option>
                        <option value="2">2x</option>
                    </select>
                </div>
                <div class="light"><button id="offlightbtn">Off Light</button></div>
            </div>
            <div style="margin-top: 30px;">
                <h5 style="margin-bottom: 15px; margin-top: 25px;">LIST NAME</h5>
                <% for (var i=1; i <= animeData.Episode.split("/")[0]; i++) {%>
                    <a href="/anime/<%= animeData.name %>/watching/0<%= i %>">Ep <%= i %></a>
                <% } %>
            
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="review">
                    <h5 style="margin-bottom: 20px;">REVIEWS</h5>
                    <div>
                        <% animeData.comment.forEach(function(item,index) { %>
                            <img src="https://res.cloudinary.com/dk5lunsyj/image/upload/v1606723081/personal-user-illustration-_2x_sfrrum.png" alt="Image">
                            <div>
                                <h6><%= item.username %> --  <span><%= item.time %></span></h6>
                                <p><%= item.title %></p>
                            </div>
                        <% }) %>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>
    <script>
        
        document.getElementById("playback").addEventListener("click", (e) =>{
            var vid = document.getElementById("myVideo");
            vid.playbackRate = parseFloat(document.getElementById("playback").value); 
        })
        document.getElementById("offlightbtn").addEventListener("click", (e) =>{
            var div = document.createElement("div");
            div.className = "offlight";
            div.id = "offlight";
            div.setAttribute("style", "width:" + document.body.clientWidth +"px; height:" +  document.body.clientHeight + "px;");
            document.body.append(div);
        })

        document.onkeydown = function(evt) {
            evt = evt || window.event;
            var isEscape = false;
            if ("key" in evt) {
                isEscape = (evt.key === "Escape" || evt.key === "Esc");
            } else {
                isEscape = (evt.keyCode === 27);
            }
            if (isEscape) {
                document.getElementById("offlight").remove();
            }
        };
    </script>
</body>
</html>